.page-context{
    text-align: right;
    margin: 5%;
}

  
.text p {
    padding-bottom: 2em;
}


@media screen and (max-width: 1024px) {
    .page-context{
        text-align: right;
        margin: 15%;
    }

    .title{
        font-size: 30px;
        color:#e79ad4;
      }
    
    .text p {
        font-size: 75%;
    }
    
    
  }