.page-context {
  text-align: right;
  margin: 5%;
}

.contact-container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  justify-items: center;
}

.contact-grid-item .title {
  font-size: 1em;
  color: black;
  text-shadow: none;
}

.social-buttons {
  padding-top: 1em;
}

/* Estilos de botones de redes sociales, son de font-awesome */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook, .fa-youtube, .fa-instagram, .fa-twitter {
  background: #e79ad4;
  color: white;
}

/* Estilos para el formulario de contacto */
form {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .8em;
  padding: 1.2em;
}

form>label {
  grid-column: labels;
  grid-row: auto; 
  color: black;
}

form>input, form>textarea, form>button {
  grid-column: controls;
  grid-row: auto;
  border: none;
  padding: 1em;
  color: black;
}

.inputfield:focus {
  outline: none !important;
  box-shadow: 0 0 10px #e79ad4;
}

@media screen and (max-width: 1024px) {
  .title, .text {
    animation: none;
    color: #9aace7;
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .title, .text {
    animation: none;
    color: #1f5f19;
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .page-context {
    text-align: right;
    margin: 15%;
  }
  .title {
    font-size: 30px;
    color: #e79ad4;
  }
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    text-align: right;
    padding-top: 1em;
    font-size: 20px;
  }
}