.page-context{
    text-align: right;
    margin: 5%;
}

  
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.grid > span {
    padding: 8px 4px;
    border-bottom: 1px solid black;
}
@media screen and (max-width: 1024px) {
    .page-context{
        text-align: right;
        margin: 15%;
    }

    .title{
        font-size: 30px;
        color:#e79ad4;
      }
    
    .text p {
        font-size: 75%;
    }
    
    
}

@media screen and (max-width: 480px) {
    .title {
        padding-top: 1em;
        color:#1f5f19;
        font-size: 20px;
      }
    
      span {
        font-size: 60%;
    }
}
