*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.container {
  background-image: url('../images/80873105_2662130957342514_3757604102708376397_n_transparent.jpg');
  background-size: cover;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.presentation-box {
  text-align: center;
  margin-top: 10%;
}

/* texto pagina principal */
.home-title, .home-text {
  position: relative;
  animation: show-name 5s;
  animation-fill-mode: forwards;
  font-size: 50px;
  color:#e79ad4;
  text-shadow: 2px 2px 10px #000;
}

/* animacion texto pagina principal */
@keyframes show-name {
  0%   {left:0px; top:0px;}
  100%  {left:200px; top:0px;}
}

/* valor por defecto para los titulos de las paginas */
.title {
  position: relative;
  font-size: 2em;
  color:#e79ad4;
  text-shadow: 2px 2px 10px #000;
}

@media screen and (max-width: 1024px) {
  .presentation-box {
    text-align: center;
    margin-top: 30%;
  }

  .home-title, .home-text {
    animation: none;
    color:#9aace7;
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .presentation-box {
    text-align: center;
    margin-top: 35%;
  }

  .home-title, .home-text {
    animation: none;
    color:#1f5f19;
    font-size: 20px;
    text-align: center;
  }
}