.page-context{
    text-align: right;
    margin: 5%;
}
  
  .contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

  .dos-columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.entrada-blog .title {
  font-size: 1em;
  color: black;
  text-shadow: none;
}

.grid-item .title {
  font-size: 1em;
  color: black;
  text-shadow: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.iframe-grid {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
    .page-context{
        text-align: right;
        margin: 15%;
    }

    .title{
        font-size: 30px;
        color:#e79ad4;
      }
    
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
    }
    
    
}